body{
    font-family: 'Montserrat', sans-serif;
}
p{
    color:#8f8f8f;
}
h2{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.main-title{
    font-size:3.5rem;
    line-height: 1.5;
    color:white;
    font-weight:bold;
}
#title{
    background-color:#ff4c68;
}

/* Navigation Bar */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
   font-family: "Ubuntu";
   font-size: 1.5rem;
   font-weight: bold;
}
.nav-item{
    padding-right: 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}

/* Download Buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* title image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    max-width: 400px;
}

/* Features-row */
#features{
    padding:7% 15%;
    background-color:#fff;
    position: relative;
    z-index: 1;
}
.feature-row{
    
}
.feature-row .col-lg-4{
    text-align: center;
    padding: 0 5%;
}
.feature-icon{
    color:#ef8172;
    font-size:3rem;
    padding: 15% 0;
}
.feature-icon:hover{
    color:#ff4c68
}
/* Testimonials */
#testimonials{
    background-color:#ef8172;
    text-align: center;
    color:white;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 2%;
}

/* press */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/* pricing */
#pricing{
    text-align: center;
    padding: 100px;
}
.price-button{
    width:100%;
}
.pricing-col{
    padding: 3% 2%;
}
/* cta */
#cta{
    background-color: #ff4c68;
    text-align: center;
    color:white;
    padding: 7% 15%;
}
.cta-text{
    font-family: 'Montserrat-Black', sans-serif;
     font-size: 3rem;
    font-weight: bold;
    padding: 5% 5% 7%;
}
/* footer */
#footer{
    text-align: center;
    padding: 8% 15% 5%;
}
.copyright-text{
    color:#8f8f8f;
    padding-top: 1%;
}

@media (max-width: 1020px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }

}